# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.log

# Local dependencies & caches
node_modules/
.npm/
dist/
.tmp/
.cache/
package-lock.json
yarn.lock
pnpm-lock.yaml
